{% extends 'base.html' %}
{% block title %} Bookmark List {% endblock %}
{% block content %}
{# 주소 앞에 /가 붙으면 절대주소, /안붙으면 상대주소(현재 url 뒤에 붙는다)#}
    <br>
<div class="btn-group">
    {% if user.is_authenticated %}
        <a href="{% url 'bookmark:add' %}" class="btn btn-warning">ADD Bookmark</a>
        <a href="{% url 'accounts:logout' %}" class="btn btn-light">logout</a>
    {% else %}
        <a href="{% url 'accounts:register' %}" class="btn btn-success">register</a>
        <a href="{% url 'accounts:login' %}" class="btn btn-info">login</a>
    {% endif %}
</div>
<br>

<table class="table" >
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Url</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for book in bookmark_list %}
            <tr>
                <td>{{ forloop.counter}}</td>
                {#  pk == id 글자만 다른거임(id가 최신)        #}
                <td><a href="{% url 'bookmark:detail' pk=book.pk %}">{{ book.name }}</a></td>
                <td><a href="{{ book.url }}" target="_blank">{{ book.url }}</a> </td>
                <td><a href="{% url 'bookmark:edit' pk=book.id %}" class="btn btn-primary">수정</a> </td>
                <td><a href="{% url 'bookmark:delete' pk=book.id %}" class="btn btn-danger">삭제</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}