<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookmark List</title>
{#    <style type="text/css">#}
{#        table,td,th{#}
{#            border: 1px solid black;#}
{#            border-collapse: collapse;#}
{#            padding: 10px;#}
{#        }#}
{#        body{#}
{#            display: flex;#}
{#            flex-direction:column;#}
{#            justify-content: center;#}
{#            align-items: center;#}
{#            margin-top: 10%;#}
{#        }#}
{#        th{#}
{#            background-color: #ffeeee;#}
{#        }#}
{#    </style>#}
</head>
<body>
{# 주소 앞에 /가 붙으면 절대주소, /안붙으면 상대주소(현재 url 뒤에 붙는다)#}
<a href="{% url 'bookmark:add' %}">Add Bookmark</a>
<table >
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Url</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for book in bookmark_list %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ book.name }}</td>
                <td><a href="{{ book.url }}" target="_blank">{{ book.url }}</a> </td>
                <td><a href="#" style="color:blueviolet">수정</a> </td>
                <td><a href="#" style="color:red">삭제</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>